/* Gets rid of browser default padding and margin */
* {
    padding: 0;
    margin: 0;
}

/* Styles nav container */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* Styles the navigation items */
nav ul li {
    list-style-type: none;
    padding: 1em;
}

/* Styles each navigation link */
nav ul li a {
    color:black;
    text-decoration: none;
}

/* Styles the introduction section */
#Introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    height: 100dvh;
    transform: translateX(25%);
}

/* Styles the header in the introduction section */
#Introduction h1 {
    padding: 25px;
    text-align: center;
    font-size: 3rem;
}

/* Styles the paragraphs in the introduction section */
#Introduction p {
    text-align: center;
    padding:25px;
    font-size: 1.5rem;
}

/* Styles the grid section */
#Grid {
    margin: 1em;
    padding: 1em;
    display:flex;
    flex-direction: row;
}

/* Styles the image within the grids */
#Grid div.gridItem img{
    width: 70%;
}

/* Styles each item in the grid */
.gridItem {
    display:flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    margin:5px;
}

/* Styles the textbox of the grid items */
.gridItem p {
    width:70%;
}