/* Gets rid of browser default padding and margin */
* {
    padding: 0;
    margin: 0;
}

img {
    animation:image-fade-in 5s;
}

/* Styles the entire navbar */
nav {
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
    background-color:#f5f5f5
}

/* Styles nav container */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* Styles the navigation items */
nav ul li {
    list-style-type: none;
    padding: 1.25em;
}

/* Styles each navigation link */
nav ul li a {
    color:black;
    text-decoration: none;
}

/* Styles the introduction section */
#Introduction {
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    height: 100dvh;
    transform: translateX(25%);
}

/* Styles the header in the introduction section */
#Introduction h1 {
    padding: 25px;
    text-align: center;
    font-size: 3rem;
    color:white;
    animation: fade-in 3s;
}

/* Styles the paragraphs in the introduction section */
#Introduction p {
    text-align: left;
    padding:25px;
    font-size: 1.5rem;
    color:white;
    animation:fade-in 3s;
}

/* Styles the grid section */
#Grid {
    margin: 1em;
    padding: 1em;
    display:flex;
    flex-direction: row;
}

/* Styles the image within the grids */
.gridItem img {
    max-width:70%;
    height:fit-content;
}

/* Styles each item in the grid */
.gridItem {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:70%;
    margin:5px;
    height: 50%;
    animation:fade-in 3s;
    animation-timeline: scroll();
}

/* Styles the textbox of the grid items */
.gridItem p {
    width:70%;
}

.dataTable {
    scale: 1.1;
    column-count: 2;
}

.dataTable img {
    height:100px;
    width:auto;
    object-fit: cover;
    padding:none;
    margin:none;
}

.dataTable td img {
    padding:none;
    margin:none;
}

/* Styles boxes in the table */
.dataTable td, th {
    padding:1%;
}

/* Styles the banner image */
#banner img {
    width:100%;
    position:absolute;
    height:100dvh;
    filter: brightness(0.7);
}


/* Animations */
@keyframes image-fade-in {
    from {
        filter: brightness(0.0);
    }

    to {
        filter: brightness(0.6);
    }
}

@keyframes fade-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: none;
    }
}